<div style="background-color:bisque; height:400px;width: 100%;text-align: center">
  <table class="table" style="margin: auto">
  <tr>
    <td colspan="2"><h1>Add User</h1></td>
  </tr>
  <tr>
    <td>User Name</td>
    <td><input type="text" class="form-control"></td>
  </tr>
  <tr>
    <td>Password</td>
    <td><input type="password" class="form-control"></td>
  </tr>
  <tr>
    <td>Confirm Password</td>
    <td><input type="password" class="form-control"></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><input type="text" class="form-control"></td>
  </tr>
  <tr>
    <td>Mobile</td>
    <td><input type="text" class="form-control"></td>
  </tr>
  <tr>
    <td style="text-align: center;"><button class="btn btn-sm">Register</button></td>
  </tr>
  </table>
  </div>