<div class="row">
  <div class="col s8-offset-s2">
    <div class="card">
      <div class="sm-jumbotron center-align">
        <h2>User Registration</h2>
      </div>
      <form  class="col s12 white" #userRegistrationForm="ngForm" >
        <div class="row">
        <div class="input-field col s6">
        <input type="text" name="UserName" #UserName="ngModel" [(ngModel)]="user.UserName" required>
        <label  >User Name</label>
        </div>
        <div class="input-field col s6">
          <input required type="password" name="Password" #Password="ngModel" [(ngModel)]="user.Password">
        <label  >Password</label>
        </div>

        <div class="input-field col s12">
          <input  type="email" name="Email" #Email="ngModel" [(ngModel)]="user.Email" required>
        <label  >Email</label>
        </div>
        <div class="input-field col s6">
          <input type="text" name="FirstName" #FirstName="ngModel" [(ngModel)]="user.FirstName">
        <label  >First Name</label>
        </div>

        <div class="input-field col s6">
          <input type="text" name="LastName" #LastName="ngModel" [(ngModel)]="user.LastName">
        <label  >Last Name</label>
        </div>
        </div>

<div class="row">
  <div class="input-field col s12">
    <button class="btn-large btn-submit" type="submit">Submit</button>
  </div>  
</div>
      </form>
    </div>
  </div>
</div>


<!-- ******************************* Old Code***************************** -->
<!-- <h2>Add User</h2>

<div class="container" style="float: left;width: 80%">

    <div class="row">
      <div class="col-25">
        <label for="fname">First Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Last Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="country">Country</label>
      </div>
      <div class="col-75">
        <select id="country" name="country">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Subject</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Last Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Last Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Last Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Last Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Last Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  
</div> -->